@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: IranSansLight;
  src: url(../fonts/IranSans_Light.ttf);
}
@font-face {
  font-family: IranSansBold;
  src: url(../fonts/IranSans_Bold.ttf);
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rg-font: IranSansLight;
  --bg-color: "#F0EBE3";
  --txt-color: #212121;
  --max-width: 57rem;
}

body {
  direction: rtl;
  text-align: right;
  font-family: var(--rg-font);
  background-color: var(--bg-color);
}

h1, h2, h3 {
  font-family: IranSansBold;
  font-weight: 800;
}

p {
  line-height: 1.7;
}
a {
  text-decoration: none;
}

a:visited {
  color: var(--txt-color);
}

hr {
  background: rgb(245,155,240);
  background: linear-gradient(90deg, rgba(245,155,240,1) 0%, rgba(195,113,204,1) 32%, rgba(129,124,208,1) 100%);
  height: 2px;
  border: none;
}
ul {

  list-style-type: none;
}


.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: .2rem 0;
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
}

.navbar > .logo {
  font-weight: 800;
}

.social-links {
  display: flex;
  gap: .7rem;
}

.social-link {
  color: var(--txt-color);
}

.main {
  margin: 3rem auto;
  max-width: var(--max-width);
  padding-top: 1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 2rem;
  align-items: center;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.author-date {
  display: flex;
}
.author-date > li:first-child::after {
  content: '|';
  margin: 0 5px;
  font-weight: 800;
}

.tags {
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.tag {
  padding: 3px 10px;
  border-radius: 5px;
  font-size: .70rem;
  font-weight: 800;
}