{% extends 'base.html' %} 
{% load jalali_tags %}
{% block title %}وبلاگ سعید غلامی{% endblock title %}
{% block content %}
<section class="cards">
{% for post in posts %}
  {% if post.status %}
    <a href="{% url 'blog:post_detail' post.slug %}">
      <ul class="card">
        <div class="card-header">
          <li><h1>{{ post.title }}</h1></li>
          <div class="author-date">
            <li class="flex"><p>{{ post.author.username }}</p></li>
            <li class="flex"><p>{{ post.updated_on|to_jalali:"%Y/%m/%d" }}</p></li>
          </div>
          <li class="tags">
            {% for tag in post.tags.all %}
              <p class="tag">{{ tag.name }}</p>
            {% endfor %}
          </li> <!-- end of tags -->
        </div>
        <li><p>{{ post.content }}</p></li>
      </ul>
    </a>
  {% endif %}
{% endfor %}
</section>
{% endblock content %}