{% extends 'base.html' %} 
{% block title %}وبلاگ سعید غلامی{% endblock title %}
{% block content %}
<section class="cards">
{% for post in posts %}
  {% if post.status %}
    <a href="{% url 'blog:post_detail' post.slug %}">
      <ul class="card">
        <li class="card-item"><h1>{{ post.title }}</h1></li>
        <li class="card-item"><p>{{ post.content }}</p></li>
        <li class="card-item"><p>{{ post.updated_on|date:"Y-m-d" }}</p></li>
      </ul>
    </a>
  {% endif %}
  {% endfor %}
</section>
{% endblock content %}